.sellingStore {
    color: #404373;
    background-color: white;
    border: 1px solid #310E68;
    border-radius: 25px;
}

.itemInCart {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #9498A6;

    color: #58595B;
}


.cart {
    color: #310E68;
}


#checkoutIcon {
    position: relative;
    left: 40%;
    background-color: white;
    border-radius: 10px;
    color: #404373;
}

#subCheckoutIcon {
    position: relative;
    left: 10%;
    top: 20%;
    background-color: white;
    border-radius: 10px;
    height: 30px;
    color: #404373;
}

#storeName {
    text-align: left;
    font-size: 30px;
    position: relative;
    left: 5%;
}

#quantityInputBox {
    background-color: #9498A6;
    border-radius: 25px;
    width: 10vh;
    color: #F2EBDC;
    text-align: center;
}

.verticalLine {
    border-left: 6px solid #7A8CBF;
}

#clearProductIcon {
    position: relative;
    left: 10%;
    border: none;
    background: none;
}